@model Order

@{
    ViewData["Title"] = "Confirmation";
}

@section Layouts {
    <link href="~/css/confirmation.css" rel="stylesheet" />
}

<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="text-left logo p-2 px-5"> <img src="~/images/034-pet shop.svg" width="50"> </div>
                <div class="invoice p-5">
                    <h5>Your order is Confirmed!</h5> <span class="font-weight-bold d-block mt-4">Hello, </span> <span>You order has been confirmed and will be shipped in next two days!</span>
                    <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="py-2"> <span class="d-block text-muted">Order Date</span> <span>@DateTime.Now.Date.ToShortDateString()</span> </div>
                                    </td>
                                    <td>
                                        <div class="py-2"> <span class="d-block text-muted">Order No</span> <span>MT12332345</span> </div>
                                    </td>
                                    <td>
                                        <div class="py-2"> <span class="d-block text-muted">Payment</span> <span><img src="https://img.icons8.com/color/48/000000/mastercard.png" width="20" /></span> </div>
                                    </td>
                                    <td>
                                        <div class="py-2"> <span class="d-block text-muted">Shiping Address</span> <span>@Model.Address.AddressLine1</span> </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="product border-bottom table-responsive">
                        <table class="table table-borderless">
                            <tbody>
                                @foreach (var item in Model.Items)
                                {
                                    <tr>
                                        <td width="20%"> <img src="@Url.Content("~/images/" + item.Product.Url)" width="90"> </td>
                                        <td width="60%">
                                            <span class="font-weight-bold">@item.Product.Name</span>
                                            <div class="product-qty"> 
                                                <span class="d-block">Quantity: @item.Quantity</span>
                                            </div>
                                        </td>
                                        <td width="20%">
                                            <div class="text-right"> <span class="font-weight-bold">€@((item.Product.Price * item.Quantity).ToString("0.00"))</span> </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="row d-flex justify-content-end">
                        <div class="col-md-5">
                            <table class="table table-borderless">
                                <tbody class="totals">
                                    <tr>
                                        <td>
                                            <div class="text-left"> <span class="text-muted">Subtotal</span> </div>
                                        </td>
                                        <td>
                                            <div class="text-right"> <span>€@Model.Total.ToString("0.00")</span> </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="text-left"> <span class="text-muted">Shipping Fee</span> </div>
                                        </td>
                                        <td>
                                            <div class="text-right"> <span>€0.00</span> </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="text-left"> <span class="text-muted">IVA</span> </div>
                                        </td>
                                        <td>
                                            <div class="text-right"> <span>€0.00</span> </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="text-left"> <span class="text-muted">Discount</span> </div>
                                        </td>
                                        <td>
                                            <div class="text-right"> <span class="text-success">€0.00</span> </div>
                                        </td>
                                    </tr>
                                    <tr class="border-top border-bottom">
                                        <td>
                                            <div class="text-left"> <span class="font-weight-bold">Subtotal</span> </div>
                                        </td>
                                        <td>
                                            <div class="text-right"> <span class="font-weight-bold">€@Model.Total.ToString("0.00")</span> </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <p>We will be sending you a shipping confirmation email when the order has been successfully shipped!</p>
                    <p class="font-weight-bold mb-0">Thanks for shopping with us!</p> <span>Pet Mart</span>
                </div>
                <div class="d-flex justify-content-between footer p-3"> <span>Need Help? visit our <a href="#"> help center</a></span> <span>@DateTime.Now.Date.ToShortDateString()</span> </div>
            </div>
        </div>
    </div>
</div>