@model Product

@{
    ViewData["Title"] = "Products -" + Model.Name;
}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="@Url.Content("~/images/" + Model.Url)" class="d-block mx-lg-auto img-fluid" alt="product icon" width="700" height="500">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">@Model.Name</h1>
            <p class="fs-2">
                <span class="badge bg-secondary">€ @Model.Price.ToString("0.00")</span>
            </p>
            <p class="lead">@Model.Description</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-action="AddToCart" asp-controller="ShoppingCart" asp-route-id="@Model.Id" class="btn btn-success btn-lg px-4 me-md-2">Buy</a>
                }
                else
                {
                    <a asp-action="Index" asp-controller="Account" class="btn btn-success btn-lg px-4 me-md-2">Buy</a>
                }
                <a asp-action="Index" asp-controller="Categories" class="btn btn-outline-secondary btn-lg px-4">Back</a>
            </div>
        </div>
    </div>
</div>
